* {
    font-family: 'Lato', sans-serif;;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url('/src/images/road-trip-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-header {
    width: 100vw;
    height: 10vh;
    background-color: #39667e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-name {
    margin-top: 0;
    margin-bottom: 0;
    color: #ededed;
}

.welcome-message{
    color: #ededed;
    margin-left: 32vw;
}

.trips-section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 90vh;
}

.trips-display-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    gap: 1vw;
}

.trip-section {
    width: 25%;
    height: 60vh;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll
}

.trip-section::-webkit-scrollbar {
    display: none; 
}

.single-trip {
    background-color: #b0b9c6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.trip-image {
    height: 20vh;
    width: 15vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.trip-form {
    display: flex;
    justify-content: center;
}
.label-and-input {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size:small;
}

.submit-form {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box
}

.hidden {
    display: none!important;
}

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 43px;
    background-color: #fefefeed;
    padding: 80px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input {
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.password-input {
    margin-bottom: 1vh;
}

.password {
    margin-left: 4px;
}

